.body {
    width: 400px;
    padding: 16px;
    border-radius: 25px;

    * {
        cursor: default;
    }

    p, h2, h3 {
        margin: 0 !important;
    }

    h2, h3, .url {
        font-weight: bold;
    }

    .items-center {
        display: flex;
        align-items: center;
    }

    .title {
        overflow: hidden;
        height: 40px;

        h2 {
            font-size: 1.4rem;
            white-space: nowrap;
        }

        .id-content {
            padding-left: 5px;
            padding-right: 5px;
            margin-right: 5px;
            border-right: 2px rgb(100, 100, 100) solid;
        } 
    }

    .description {
        overflow: hidden;
        height: 160px;
        overflow-y: auto;
        border-top: 2px rgb(100, 100, 100) solid;
        border-right: 2px rgb(100, 100, 100) solid;
        border-left: 2px rgb(100, 100, 100) solid;
        
        p {
            padding-left: 5px;
            padding-right: 5px;
            text-align: justify;
        }
    }

    .description::-webkit-scrollbar {
        width: 5px;
        background-color: rgba(20, 20, 20, .3);
    }

    .description::-webkit-scrollbar-thumb {
        width: 5px;
        background-color: rgba(20, 20, 20, .8);
    }

    .date {
        display: flex;
        height: 80px;
        border-top: 2px rgb(100, 100, 100) solid;

        .init, .end {
            width: 50%;
        }

        .end {
            text-align: right;
        }
    }

    .direction {
        display: flex;
        height: 40px;
        border-top: 2px rgb(100, 100, 100) solid;

        .url {
            width: 60px;
            border-right: 2px rgb(100, 100, 100) solid;
        }

        .direction-text {
            width: 100%;
            padding-left: 5px;
            padding-right: 5px;
            white-space: nowrap;
        }

        a {
            cursor: pointer;
            color: rgb(255, 255, 255);
            font-weight: bold;
        }
    }

    .cursor-pointer {
        cursor: pointer !important;

        * {
            cursor: pointer !important;
        }
    }
}