.header {
    height: 80px;
    z-index: 2;
    
    .nav-button, .nav-profile {
        width: 50px;
        cursor: pointer;
        overflow: hidden;
    }

    .nav-button:hover, .nav-profile:hover {
        background-color: rgba(200, 200, 200, .1);
    }

    .nav-button {
        padding-left: 15px;
        padding-right: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    .nav-profile {
        padding-right: 15px;
        padding-left: 25px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    h1 {
        margin: 0 !important;
        cursor: default;
    }
}

.body {
    z-index: 1;
    height: calc(100vh - 80px);
    overflow: hidden;

    .nav-menu {
        top: 0;
        left: 0;
        width: 90%;
        max-width: 300px;
        max-height: 100%;
        overflow: hidden;
        overflow-y: auto;
        transform: translateX(calc(-100% - 8px));

        .nav-menu-body {
            padding: 15px 10px;

            h2 {
                margin: 0 !important;
                font-size: 2rem;
            }

            .nav-menu-buttons {
                border-top: 2px black solid;
                padding-top: 10px;
            }
        }
    }

    .nav-menu::-webkit-scrollbar {
        width: 8px;
        background-color: rgba(200, 200, 200, .6);
    }

    .nav-menu::-webkit-scrollbar-thumb {
        background-color: rgba(80, 80, 80, .8);
    }

    .nav-profile {
        top: 0;
        right: 0;
        width: 90%;
        max-width: 300px;
        max-height: 100%;
        overflow: hidden;
        transform: translateX(100%);

        .nav-profile-body {
            padding: 15px 10px;

            h2 {
                margin: 0 !important;
                font-size: 2rem;
                text-align: right;
            }

            p {
                text-align: right;
                margin: 5px 0px !important;
                text-transform: lowercase !important;
            }

            .role-text {
                color: rgb(0, 0, 200);
                font-size: 1.2rem;
            }

            .nav-profile-buttons {
                border-top: 2px black solid;
                padding-top: 10px;
            }
        }
    }

    .nav-profile::-webkit-scrollbar {
        width: 8px;
        background-color: rgba(200, 200, 200, .6);
    }

    .nav-profile::-webkit-scrollbar-thumb {
        background-color: rgba(80, 80, 80, .8);
    }

    .container {
        top: 0;
        left: 0;

        .container-panels {
            overflow: hidden;
            overflow-y: auto;
        }

        .container-panels::-webkit-scrollbar {
            width: 8px;
            background-color: rgba(200, 200, 200, .6);
        }

        .container-panels::-webkit-scrollbar-thumb {
            background-color: rgba(80, 80, 80, .8);
        }
    }
}