<div class="content width-full height-full background-color-tranparent" *ngIf="isVisible">
    <div class="card box-shadow background-color-main">
        <div class="title display-inline-flex width-full">
            <div class="label align-items-center width-full">
                <h2 *ngIf="!isErrorMessage && !isSuccessMessage">Information</h2>
                <h2 *ngIf="isErrorMessage" style="color: red !important;">Error</h2>
                <h2 *ngIf="isSuccessMessage" style="color: green !important;">Success</h2>
            </div>
            <div class="close align-items-center">
                <button
                    mat-fab
                    color="primary"
                    class="width-40 height-40"
                    style="background: linear-gradient(45deg, rgba(0,5,96,1) 0%, rgba(9,9,121,1) 21%, rgba(0,164,255,1) 72%) !important;"
                    (click)="onCloseClick()">
                    <mat-icon style="color: rgb(200, 200, 200)">X</mat-icon>
                </button>
            </div>
        </div>
        <div class="body">
            <p *ngFor="let msg of message">{{msg}}</p>
        </div>
    </div>
</div>
